<p>
'Text 2 Spotify' was initially conceived as a way to have many people contribute
to a Spotify playlist.  I imagined a party where every song played was volunteered
by the guests.
</p>

<p>
Big thanks to Michael Hartl, of Rails 5 Tutorial fame, for teaching me all I
know about Rails (not a lot) and the wonderful active community of Rails developers.
</p>
