<h1>Help</h1>
<h3>Twilio Integration</h3>

<p>
  In order to use this app you'll need to sign up for a Twilio account and
  input your credentials on the settings page. Credentials can be accessed from
  your Twilio account page.  In order for more than one person to text your Twilio
  account, you'll need to pay for the dedicated message.
</p>
  <a href="https://ibb.co/hhAqD8"><img src="https://preview.ibb.co/eOGVD8/Screen_Shot_2018_05_21_at_5_50_04_PM.png" alt="Screen_Shot_2018_05_21_at_5_50_04_PM" border="0"></a>
<p>
  You'll also have to configure your Twilio SMS endpoints to connect to your application.
</p>
  <a href="https://ibb.co/bCv1Lo"><img src="https://preview.ibb.co/jeSsRT/Screen_Shot_2018_05_21_at_5_51_07_PM.png" alt="Screen_Shot_2018_05_21_at_5_51_07_PM" border="0"></a>
<p>
  If the application is hosted locally, you'll need to set up tunneling so the application
  can be reached from the web.  I use Ngrok, but hosting on Heroku could work as well. 
</p>
  <a href="https://ibb.co/d8RmmT"><img src="https://preview.ibb.co/fg1K6T/Screen_Shot_2018_05_21_at_5_51_20_PM.png" alt="Screen_Shot_2018_05_21_at_5_51_20_PM" border="0"></a>
