<li id="micropost-<%= playlist.id %>">
  <span class="user"><%= link_to playlist.user.email, playlist.user %></span>
  <span class="content"><%= playlist.playlist %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(playlist.created_at) %> ago.
  </span>
</li>
