<footer class="footer">
  <small>
<<<<<<< HEAD
    <a href="http://www.mikekosk.com/">Text to Spotify by Mike Kosk</a>
=======
    Spotify Explorer by <a href="http://www.mikekosk.com/">Mike Kosk</a>
>>>>>>> old_branch
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
